
.header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, fantasy;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(232, 235, 247);
    background-color: rgb(44, 45, 36);
    height: 2.5em;
    padding-top: 58px;
    text-shadow: 4px 4px 3px rgb(222, 26, 26);
}
.container {
    background-color: rgb(44, 45, 36);
}

.head {
    display: flex;
    justify-content: space-around;
}

.span {
    background-color: rgb(232, 235, 247);
    font-size: 16px;
    border-radius: 60%;
    padding: 0.6em;
}

.cart-cont {
    height: 16em;
}

.btn, .btn1 {
    background-color: rgb(232, 235, 247);
    border: 2px solid;
    text-align: center;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 12px;
}

.tbl, .td, .tr {
    border-collapse: collapse;
    border: 3px solid;
    background-color: rgb(232, 235, 247);
    font-size: 18px;
    border-style: inset;
}
.row1 {
    width: 6em;
    height: 2em;
}

/* ./foldername (eg images)/image name - this is to add pics from computer*/
.pizzas {
    background-color: rgb(44, 45, 36);  
    border-color: rgb(44, 45, 36);
    text-align: center;
}
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border:rgb(222, 26, 26) solid;
    border-radius: 1em;
    position: relative;
        top: -65px;
        width: 10em;
        height: 10em;
}

.pizza1, .pizza2, .pizza3, .pizza4, .pizza5 {
    background-color: rgb(255, 236, 112);
    border: 1px solid;  
    border-radius: 1em;
    border-color: rgb(44, 45, 36); 
    margin: 2em; 
    font-weight: 550;
    width: 13em;
    height: 25em;
}

.footer {
    background-color: rgb(44, 45, 36);
    color: rgb(232, 235, 247);
    text-align: center;
    margin: 1em;
}

@media (min-width: 1000px) {
    .pizzas {
       display: flex;
    }
}
@media (min-width: 980px) {
    .footer {
        display: flex;
    }
}